<!-- app/views/events/show.html.erb -->
<h1>Event Details</h1>
<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @event.start_time.strftime("%Y-%m-%d %H:%M") %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @event.end_time.strftime("%Y-%m-%d %H:%M") %>
</p>
<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>
<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>
<%= link_to 'Edit', edit_plan_event_path(@plan, @event) %>
<%= link_to 'Back', plan_events_path(@plan) %>
